* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background: #111213;
    color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;    
}

div.hero {
    border: 2px solid rgba(255, 255, 255, 0.2);  
    width: 1000px;
    margin: 180px auto;
    margin-bottom: 400px;
    padding: 10px;
}

h1.big-heading {
    font-size: 16px; 
    margin: 0 0 40px 5px;   
}

h2.big-heading {
    font-size: 80px;
    margin-top: 5px;
}

h3.big-heading {
    font-size: 80px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
}

p.big-heading {
    font-size: 20px;
    margin-top: 20px;
}

li {
    margin: 10px;
    padding-left: 10px;
}

a {
    color: aqua;
}

.gif-anime img {
    width: 850px;
    margin: auto;
    display: block;
}

