* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

html {
    box-sizing: border-box;
}

body {
    background: #18191b;
    color: rgb(150, 150, 150);
    font-family: sans-serif; 
    display: flex;
    justify-content: center;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.wrapper {
    flex: 0 1 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 100%;
    max-width: 75%;
    gap: 15px;  
}


/*================ HEADER ================*/

header {
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: space-between;    
}

.header-container {
    flex: 0 0 auto;
    padding-top: 96px;
}
.photo-name {
    display: flex;
}

.headshot {
    align-self: center;
    height: 96px;
    border-radius: 100%;
}

.my-name {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 45px;
    font-weight: 800;
    padding-left: 16px;

}

.job-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 13px;
}

.navigation {
    display: inline-flex;
    flex-direction: column;
    margin: 60px 0 0 0;
    font-size: 12px;
    font-weight: 700;
}

.navigation a {
    display: flex;
    flex: 0 1 auto;
    padding: 16px 0;
}

.social {
    display: inline-flex;
    flex: 0 1 auto;
    justify-content: space-around;
    align-self: flex-start;
    gap: 16px;
    padding-bottom: 80px;
}

header p {
    display: inline-flex;   
    max-width: 20rem;
    font-size: 16px;
    font-weight: 200;
    margin-top: 1rem;
}

/*================ MAIN ================*/

main {
    display: flex;
    flex: 0 1 50%; 
    flex-direction: column;
    padding: 96px 0;

    }

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 60px; 
}

.skill {
    line-height: 1.5;
}

.skill ul {
    padding-top: 16px;
    padding-left: 16px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.project img {
    flex: 1 1 auto;
    width: 150px;
    border-radius: 10px;
    margin-right: 16px;
}

.project h3 {
    color: aliceblue;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
}

.project p {
    font-size: 14px;
}

.project:hover {
    background: rgba(128, 128, 128, 0.527);
    border-radius: 15px;
}

.hobby {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hobby img {
    flex: 0 1 auto;
    height: 90px;
    border-radius: 10px;
    margin-right: 16px;
}

.hobby a {
    font-size: 16px;
    font-weight: 400;
    align-self: center;
}

/*======================================*/

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

p {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
}

li {
    font-weight: 200;
}

.mb-16px {
    margin-bottom: 16px;
}

.mb-96px {
    margin-bottom: 96px;
}

@media all and (max-width: 640px) {
    .wrapper {
        flex-direction: column;
        max-width: 90%;
    }

    header {
        position: relative;
        flex: 1;
        justify-content: start;
        height: auto;
    }

    .header-container {
        padding: 48px 0 0 0;
    }

    .navigation {
        display: none;
    }

    .social {
        padding: 0;
        padding-top: 16px;
    }

    .skill {
        justify-content: space-between;
    }

    .project {
        flex-direction: column-reverse;
    }

    .project img {
        flex: 1 1 150px;
        align-self: start;
    }

    .project p {
        padding: p;
        margin-bottom: 16px;
    }
}